<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col logo">
        <a href="{{ site.baseurl }}" title="Short Attention Span Games">
          <img src="{{ site.baseurl }}/images/sasgames_125h.png"
            alt="Short Attention Span Games"/></a>
      </div>

      <div class="footer-col footer-col-23">
        <p>{{ site.description }}</p>

        <ul class="social-media-list">
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
          {% if site.twitter_username %}
            <li>{% include icon-twitter.html username=site.twitter_username %}</li>
          {% endif %}
        </ul>

        <div class="small">&copy; 2016. <a href="{{ site.baseurl}}/credits/">Credits</a></div>
      </div>

    </div>

  </div>

</footer>
